.title-aboutme {
    text-align: center;
    font-size: 16px;
}

.aboutMe {
    @media screen and (min-width: 340px) {
        text-align: center;
        border: 1px solid grey;
        border-radius: 5px;
        padding: 5px;
    }
    @media screen and (min-width: 720px) {
        text-align: center;
        border: 1px solid grey;
        border-radius: 5px;
        padding: 5px;
        width: 600px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: auto;
    }
    @media screen and (min-width: 1024px) {
        text-align: center;
        border: 1px solid grey;
        border-radius: 5px;
        padding: 5px;
        width: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: auto;
    }  
}