.footer {
    position: static;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-top: 1px solid black;
    margin-bottom: 5px;
}

.fa-linkedin, .fa-github {
    font-size: 20px;
    color: black;
    margin-top: 2px;
    padding-bottom: 0;
}

.fa-solid {
    color: blue;
}

.fa-linkedin:hover, .fa-github:hover {
    color: red;
}

.wrapper-links {
    display: flex;
    flex-direction: row;
    align-items: baseline;
}

.author {
    font-size: 13px;
} 

.contacts {
    font-size: 13px;
}

// tablet
.footer {
    @media screen and (min-width: 720px) {
        position: static;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-top: 1px solid black;
        margin-bottom: 5px;
    }
}

.author {
    @media screen and (min-width: 720px) {
        font-size: 16px;
    }
}

.contacts {
    @media screen and (min-width: 720px) {
        font-size: 16px;
    }
}

// desktop
.footer {
    @media screen and (min-width: 1024px) {
        position: static;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-top: 1px solid black;
        margin-bottom: 5px;
    }
}

.author {
    @media screen and (min-width: 1024px) {
        font-size: 18px;
    } 
}

.contacts {
    @media screen and (min-width: 1024px) {
        font-size: 18px;
    }
}