.title {
    text-align: center;
    font-family: 'PT Serif', serif;
    font-size: 38px;
}

.job, .name {
    font-family: 'Fuzzy Bubbles', cursive;
}

.header-section {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.header-name {
    max-width: 350px;
}

.name {
    font-size: 26px;
}

.job {
    font-size: 18px;
}

.header-image{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 10px;
}

.image-profile {
    width: 200px;
    height: 100%;
    border-radius: 50%;
}

// .wrapperAboutMe {
//     display: flex;
//     flex-direction: column;
// }

// .titleAboutMe {
//     text-align: center;
// }

// .textAboutMe {
//     line-height: 25px;
//     width: 500px;
//     text-align: center;
// }