.main {
    height: auto;
}

.title-proyects {
    @media screen and (min-width: 320px) {
        text-align: center;
        font-size: 22px;
        font-family: 'Fuzzy Bubbles', cursive;
        padding-top: 20px;
    }
    @media screen and (min-width: 720px) {
        text-align: center;
        font-size: 24px;
        font-family: 'Fuzzy Bubbles', cursive;
        padding-bottom: 20px;
    }
    @media screen and (min-width: 1024px) {
        text-align: center;
        font-size: 26px;
        font-family: 'Fuzzy Bubbles', cursive;
        padding-bottom: 10px;
    }
}

.proyect-wrapper {
    @media screen and (min-width: 320px) {
        gap: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }
    @media screen and (min-width: 720px) {
        gap: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }
    @media screen and (min-width: 1024px) {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        gap: 5px;
        margin-bottom: 10px;
    }
}

.proyectOne, .proyectTwo,  .proyectThree{
    @media all and (min-width: 320px) {
        width: 250px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    @media all and (min-width: 720px) {
        width: 400px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    @media all and (min-width: 1024px) {
        width: 500px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.groupOne, .groupTwo, .groupThree {
    @media all and (min-width: 320px) {
        width: 250px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    @media all and (min-width: 720px) {
        width: 400px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    @media all and (min-width: 1024px) {
        width: 500px;
        border-radius: 10px;
        padding: 10px;
    }
}

.wrapper-project-one, .wrapper-project-two, .wrapper-project-three, .wrapper-group-one, .wrapper-group-two, .wrapper-group-three {
    @media screen and (min-width: 320px) {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border: 2px dotted grey;
        border-radius: 10px;
        padding: 3px;
    }
    @media screen and (min-width: 720px) {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border: 2px dotted grey;
        border-radius: 10px;
        padding: 3px;
    }
    @media screen and (min-width: 1024px) {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border: 2px dotted grey;
        border-radius: 10px;
        padding: 3px;
        margin-right: 40px;
    }
}

.description-projects {
    @media screen and (min-width: 320px) {
        font-size: 14px;
    }
    @media screen and (min-width: 720px) {
        font-size: 16px;
    }
    @media screen and (min-width: 1024px) {
        font-size: 18px;
    }
}