@import './layout/header.scss';
@import './layout/main.scss';
@import './layout/footer.scss';

* {
    box-sizing: border-box;
    background: #d8f3f3; /* Fallback */
    animation: color 9s infinite linear;
    margin: 5px;
}

